<!doctype html>
<html>
<!-- https://cdn.plot.ly/plotly-2.12.1.min.js -->
<head> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js "></script> 
</head>





<body>

    <figure class="realtime">
        
        <canvas id="realtimecanvas" width="200" height="80" ></canvas>
        <div id="chart1" width="200" height="80" ></div>
        <div id="chart2" width="200" height="80"></div>

    </figure>


<script src="../static/js/main.js"></script>
</body>





</html>

